$yellow: #fffa19;
$verde:green;
$red: red;

@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron {
    background-color:$verde;
    color: black;
    @include margenes(50px,0px);
    background-image: url(../images/OIP.jpg);
    background-position: 0% 70%;
    background-size: cover;
    background-repeat: no-repeat;
}

footer{
    padding: 10px 10px 0 10px;
    background-color:$yellow;
    @include margenes(10px,0px);
}

.card-hotel{
    flex: 1 200px;
    margin: 1px;
    @include margenes(1px,0px);
}

.btn-reserva{
    width: 100%;
    border-radius: 0%;
}

.tab-content {
    padding-top: 10px;
}

.footer-address-icon{
    padding-right: 10px;
}