.jumbotron {
  background-color: green;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px;
  background-image: url(../images/OIP.jpg);
  background-position: 0% 70%;
  background-size: cover;
  background-repeat: no-repeat;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: #fffa19;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-hotel {
  flex: 1 200px;
  margin: 1px;
  margin-top: 1px;
  margin-bottom: 0px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0%;
}
.tab-content {
  padding-top: 10px;
}
.footer-address-icon {
  padding-right: 10px;
}
